.mainContainer {
  margin-top: 100px;
}

.projects {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projectCards {
  margin: 10px;
}

.dylanContainer {
  width: 100%;
  display: flex;
  padding: 40px;
}