.icon {
  height: 100px;
  width: 100px;
  transform: rotate(-10deg);
  margin: -9px 0px -9px -15px;
  transition: transform .7s ease-in-out;

}

.icon:hover {
  transition: transform .7s ease-in-out;
  transform: rotate(-90deg);
  cursor: none;
}

.homeHammerIcon {
  transform: rotate(-10deg);
  width: 33px;
  margin-left: -3px;
}

.bloomNavIcon {
  margin-left: -4px;
}

.gainsNavIcon {
  width: 20px;
  margin-left: 2px;
  margin-top: -2px;
}

.resumeNavIcon {
  width: 32px;
  margin-left: -3px;
}

.ugameNavIcon {
  width: 23px;
  margin-left: 1px;
}

.yahtzeeNavIcon {
  width: 22px;
  margin-left: 1px;
}
